* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 20, 0.8);
}

.control-panel {
    border: 0.2rem outset rgba(100, 255, 200, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 20rem;
    background-color: rgba(50, 50, 50, 0.8);
    margin-left: 35%;
    margin-top: 10%;
}

h1 {
    color: rgba(100, 255, 200, 0.9)
}
.mainTitle, .titleArea, .textArea, .groupAdd {
    margin-bottom: 1rem;
}

.textArea {
    width: 15rem; height: 30rem;
}

.groupAdd, button {
    color: white;
    width: 5rem; height: 2.5rem;
    border: 0.2rem outset rgba(100, 255, 200, 0.7);
    background: rgba(20, 20, 20, 0.6);
}

.groupAdd:hover, button:hover {
    width: 5.2rem; height: 2.7rem;
    border: 0.2rem outset rgba(100, 255, 200, 0.9);
    background: rgba(20, 20, 20, 0.9);
}

.reciever-panel {
    border: 0.2rem outset rgba(100, 255, 200, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; min-height: 30rem;
    width: 40rem;
    background-color: rgba(50, 50, 50, 0.8);
    margin-left: 25%;
    margin-top: 10%;
}

button {
    margin-bottom: 1rem;
}


p {
    font-size: 1.2rem;
    color: white;
    border: 0.2rem outset rgba(100, 255, 200, 0.9);
    padding: auto;
    min-width: 30rem;  min-height: 10rem;
    background-color: black;
}

h4 {
    font-size: 1.7rem;
    color: rgba(250, 70, 70, 0.7);
}


